:root {
    --background: #111110;
}

body {
    background: var(--background);

    font-family: 'Verdana', Sans-serif;
    text-align: center;
    color: lightgray;

    align: center;
    overflow: hidden;
}

.text {
    font-family: 'Verdana', Sans-serif;
    height: 35px;
    color: lightgray;
    text-align: center;
}

.container {
  position: fixed;
  left: 0;
  bottom: 45%;
  width: 100%;
}
