:root {
    --background: #000000;
    --foreground: #111110;
}

body {
    background: var(--foreground);
}

h1 {
    font-family: 'Verdana', Sans-serif;
    height: 0;
    color: lightgray;
    line-height: 1.5;
    text-align: center;
}

.text {
    font-family: 'Verdana', Sans-serif;
    height: 35px;
    color: lightgray;
    text-align: center;
}

.texty {
    font-family: 'Verdana', Sans-serif;
    height: 20px;
    color: lightgray;
    text-align: center;
}

.gray-p {
  font-family: 'Helvetica', Sans-serif;
  color: gray;
  font-size: medium;
  text-align: center;
}

.vbar {
    background-color: var(--background);
    left: 0;
    top: 0;
    height: 100%;
    width: 8%;
    position: fixed;
}

button {
  background-color: #1e2124;
  color: white;
  padding: 14px 20px;
  margin: 8px 330px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.main-image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    display: flex;
}

.main-image:hover {
  opacity: 0.8;
}

.text-container {
  bottom: 50%;
}

.button-images {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 50%;
  background-color: #1c1c1d;
  margin: 10px 10px auto;
}

img {
  border-radius: 5px 5px 0 0;
}

.card-container {
  padding: 2px 16px;
}

.container {
  position: fixed;
  left: 0;
  bottom: 33%;
  width: 100%;
}

.cards {
  overflow: hidden;
  position: absolute;
  width: 99.6%;
  height: 100%;
  bottom: -45%;
  display: flex;
  justify-content: center;
}

.cards-2 {
  overflow: hidden;
  position: absolute;
  width: 99.6%;
  height: 100%;
  bottom: -97%;
  display: flex;
  justify-content: center;
}

.profile-container {
  overflow: hidden;
  position: absolute;
  justify-content: center;
  bottom: 55%;
  width: 99.6%;
}
